.jb-dis{
    width: 90%;
    height: 90%;
}

.navigation{
    background-color: transparent !important;
    display: none;
}

#submit{
    background-color: #4717F6;
    border-color: #4717F6;
    border-width: 0.1rem;
    border-style: solid;
}

#submit:hover{
    background-color: #fff;
    color: #4717F6;
}

#delete{
    background-color:rgb(255, 60, 93);
    border-color:rgb(255, 60, 93);
    border-width: 0.1rem;
    border-style: solid;
}

#delete:hover{
    background-color: #fff;
    color:rgb(255, 60, 93);
}
